body{
    background-color: hsla(0, 0%, 71%, 0.3);
    z-index: -1;
}

.central{
    background-color: hsla(170, 84%, 64%, 0.897);
    border-style: outset groove;
    max-width: 550px;
    max-height: 200px;
    box-shadow: 3px 3px 10px hsla(0, 6%, 34%, 0.6);
    margin: 120px 500px 250px;
    padding: 5px 20px;
}

h1{
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
    text-shadow: 3px 3px 3px hsla(240, 50%, 71%, 0.6);
}

.inside-central{
    padding-left: 70px;
    padding-bottom: 20px;
}

#binaryInput{
    margin: 5px 0px;
}

#convertButton{
    margin-left: 50px;
}

